@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color: #1d1c20;
  --secondery-bg-color: #5f5e61;
}

@font-face {
  font-family: "ADELIA";
  src: url("../public/fonts/ADELIA.otf");
}

@font-face {
  font-family: "sfPro";
  src: url("sf-pro-display-cufonfonts/SFPRODISPLAYMEDIUM.otf"),
    url("sf-pro-display-cufonfonts/SFPRODISPLAYREGULAR.otf"),
    url("sf-pro-display-cufonfonts/SFPRODISPLAYLIGHTITALIC.otf"),
    url("sf-pro-display-cufonfonts/SFPRODISPLAYBOLD.otf"),
    url("sf-pro-display-cufonfonts/SFPRODISPLAYSEMIBOLDITALIC.otf"),
    url("sf-pro-display-cufonfonts/SFPRODISPLAYULTRALIGHTITALIC.otf");
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#blob {
  animation: pulse-black 2s infinite;
}

@keyframes pulse-black {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(224, 224, 224, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.list {
  position: relative;
  padding: 5px;
  cursor: pointer;
  z-index: 10000;
}

.list::before {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--main-bg-color);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.1s;
}

.list:hover::before {
  opacity: 1;
}

.ham_bx {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 24px;
}

.ham_bx_inn {
  position: absolute;
  top: 50%;
  right: 0px;
  width: 30px;
  height: 2px;
  border-radius: 4px;
  background-color: var(--secondery-bg-color);
  transition: all 0.4s ease;
  transform: var(--transform_first);
}

.ham_bx_inn::after {
  content: "";
  display: block;
  position: absolute;
  left: auto;
  right: 0px;
  bottom: -10px;
  border-radius: 4px;
  background: var(--secondery-bg-color) !important;
  transition: all 0.4s ease;
  width: var(--after_width);
  height: 2px;
  bottom: var(--after_top);
  transform: var(--transform);
}

.ham_bx_inn::before {
  content: "";
  display: block;
  position: absolute;
  left: auto;
  right: 0px;
  width: 30px;
  height: 2px;
  top: -7px;
  border-radius: 4px;
  background: var(--secondery-bg-color) !important;
  transition: all 0.4s ease;
  opacity: var(--opacity_menu);
}

.on {
  transition: all 0.4s ease;
}

.on::before {
  background: transparent;
}

.menu_btn {
  border: none;
  cursor: pointer;
  padding: 0.8rem;
  position: relative;
  z-index: 9999;
}

.menu_section {
  position: absolute;
  top: 0;
  right: 0.5rem;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 10;
  background: #ffff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  transition: all 0.33s ease;
}

.menu_active {
  width: 20rem;
  height: 20rem;
  opacity: 1;
}

.menu_inn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
  display: none;
  text-align: center;
}

.menu_inn ul {
  list-style: none;
}

.menu_inn ul .links {
  max-width: fit-content;
  margin: 10px auto !important;
}

.hover_glow {
  background: var(--main-bg-color);
  position: relative;
  color: white;
  cursor: pointer;
  overflow: hidden;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.hover_glow::after {
  content: "";
  position: absolute;
  top: calc(var(--y, 0) * 1px - 50px);
  left: calc(var(--x, 0) * 1px - 50px);
  width: 100px;
  height: 100px;
  background: radial-gradient(white, #3984ff00 80%);
  opacity: 0;
  transition: opacity 0.2s;
}

.hover_glow:hover::after {
  opacity: 0.4;
}

.globe {
  position: relative;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  overflow: hidden;
  background: white;
}

.globe-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  overflow: hidden;
  border: 0.2px solid var(--main-bg-color);
  background: transparent;
}

.globe .circle {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1px solid var(--main-bg-color);
  animation: helicopter 5s linear infinite;
  font-size: 0.5em;
}

.globe .circle:nth-child(1) {
  animation-delay: -1.8s;
}

.globe .circle:nth-child(2) {
  animation-delay: -0.9s;
}

.globe .circle-hor {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 55%;
  box-shadow: inset 0px 0px 0px 0.15em var(--main-bg-color);
  font-size: 0.5em;
}

.globe .circle-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  transform: translate(-50%, -50%);
  border-radius: 0%;
  height: 0.15em;
  background: var(--main-bg-color);
  font-size: 0.5em;
}

@keyframes helicopter {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.social_apps {
  position: fixed;
  left: 1rem;
  bottom: 4rem;
  z-index: 100;
}

.social_apps::after {
  content: "";
  position: absolute;
  bottom: -5rem;
  left: 40%;
  width: 0.2rem;
  height: 5rem;
  background: #5f5e61;
}

.social_apps li {
  font-size: 1.4rem;
  margin: 0.2rem 0.2rem 1rem 0.2rem;
  list-style: none;
  transition: transform 200ms;
  color: var(--main-bg-color);
}

.technologies li {
  transition: transform 200ms;
}

.social_apps svg {
  transition: transform 200ms;
}

.social_apps li:hover,
.social_apps svg:hover {
  transform: translateY(-5px);
}

#center_section {
  cursor: default;
}

.contact_me::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background: var(--secondery-bg-color);
}

#myName,
.my_Name {
  font-size: max(2.5em, 5vw);
  white-space: nowrap;
  pointer-events: none;
  cursor: default;
  color: var(--main-bg-color);
  font-weight: 600;
  background-image: linear-gradient(141deg, #969699, var(--main-bg-color));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.my_Name {
  font-size: max(2.5em, 3vw);
  background-image: linear-gradient(
    141deg,
    rgb(255, 255, 255),
    var(--main-bg-color)
  );
}

.myMail::before {
  content: "";
  position: absolute;
  background: white;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  border-radius: 50px;
  transition: width 0.4s ease-in-out;
}

.down {
  transform: translateY(-100px);
}

.myMail:hover::before {
  width: 100%;
}

.work_place {
  background-image: linear-gradient(333deg, #969699, var(--main-bg-color));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

#work a {
  transition: all 0.2s ease-in-out;
}

#work a:hover {
  transform: scale(1.02);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.test li {
  list-style-position: inside;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 500px) {
  .menu_active {
    width: 100%;
    height: 100%;
  }
  .menu_section {
    position: fixed;
    right: 0;
  }
  .menu_inn {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .work_place,
  #myName {
    font-size: 30px;
  }
}
